In [1]:
import pandas as pd
import numpy as np

from catboost import CatBoostRanker, Pool
from sklearn.model_selection import train_test_split
from sklearn.metrics import ndcg_score

---

Загружу данные и посмотрю на них

In [2]:
df = pd.read_csv('intern_task.csv')
df.head()

,rank,query_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_134,feature_135,feature_136,feature_137,feature_138,feature_139,feature_140,feature_141,feature_142,feature_143
0,0,10,1.0,0.0,1.0,3.0,3.0,0.333333,0.0,0.333333,...,0.0,0.000000,0.454545,0.890238,8.655534,1.000000,0.077778,0.002222,1.0,0.333333
1,1,10,3.0,0.0,3.0,0.0,3.0,1.000000,0.0,1.000000,...,0.0,0.000000,0.000000,0.773976,23.130514,0.000000,0.027826,0.000430,44.0,14.666667
2,0,10,3.0,0.0,2.0,0.0,3.0,1.000000,0.0,0.666667,...,0.0,0.000000,0.000000,0.918308,13.351339,0.000000,0.014925,0.000104,22.0,7.333333
3,1,10,3.0,0.0,3.0,0.0,3.0,1.000000,0.0,1.000000,...,0.0,0.000000,0.000000,0.975355,18.240926,0.000000,0.053140,0.000255,8.0,2.666667
4,2,10,3.0,0.0,3.0,1.0,3.0,1.000000,0.0,1.000000,...,273.0,79.670665,0.200000,0.990119,31.786048,0.333333,0.046512,0.000307,24.0,8.000000

In [3]:
df.shape

(235258, 146)

Проверю, есть ли пропуски

In [4]:
df.isnull().sum().unique()

array([0], dtype=int64)

Пропусков нет - приятно. Посмотрю на множества значения признаков

In [5]:
for col in df.columns:
    print(f"{col}:", len(df[col].unique()))

rank: 5
query_id: 2000
feature_0: 16
feature_1: 10
feature_2: 15
feature_3: 10
feature_4: 16
feature_5: 44
feature_6: 25
feature_7: 32
feature_8: 235258
feature_9: 44
feature_10: 5124
feature_11: 156
feature_12: 281
feature_13: 60
feature_14: 5174
feature_15: 1903
feature_16: 1790
feature_17: 1809
feature_18: 1813
feature_19: 1901
feature_20: 235258
feature_21: 54
feature_22: 73
feature_23: 13
feature_24: 532
feature_25: 215
feature_26: 26
feature_27: 24
feature_28: 10
feature_29: 216
feature_30: 387
feature_31: 35
feature_32: 60
feature_33: 11
feature_34: 386
feature_35: 235258
feature_36: 125
feature_37: 153
feature_38: 53
feature_39: 1464
feature_40: 8204
feature_41: 226
feature_42: 290
feature_43: 59
feature_44: 8696
feature_45: 47103
feature_46: 555
feature_47: 700
feature_48: 235258
feature_49: 50128
feature_50: 22222
feature_51: 298
feature_52: 360
feature_53: 77
feature_54: 24042
feature_55: 37626
feature_56: 435
feature_57: 563
feature_58: 111
feature_59: 39618
feature_60: 39129
feature_61: 702
feature_62: 936
feature_63: 313
feature_64: 1
feature_65: 1
feature_66: 972
feature_67: 1383
feature_68: 459
feature_69: 4874
feature_70: 127357
feature_71: 8705
feature_72: 1
feature_73: 7728
feature_74: 134650
feature_75: 30724
feature_76: 2390
feature_77: 2961
feature_78: 1531
feature_79: 33121
feature_80: 61283
feature_81: 5424
feature_82: 6780
feature_83: 3805
feature_84: 64843
feature_85: 127923
feature_86: 9399
feature_87: 16844
feature_88: 8611
feature_89: 135276
feature_90: 118551
feature_91: 8631
feature_92: 16192
feature_93: 8173
feature_94: 125097
feature_95: 2
feature_96: 2
feature_97: 2
feature_98: 2
feature_99: 2
feature_100: 1
feature_101: 5567
feature_102: 11836
feature_103: 6670
feature_104: 85663
feature_105: 192154
feature_106: 18900
feature_107: 58140
feature_108: 28961
feature_109: 206039
feature_110: 192331
feature_111: 20535
feature_112: 68955
feature_113: 34464
feature_114: 206051
feature_115: 191744
feature_116: 20474
feature_117: 63166
feature_118: 33007
feature_119: 205419
feature_120: 186488
feature_121: 16956
feature_122: 53686
feature_123: 28626
feature_124: 198257
feature_125: 19
feature_126: 290
feature_127: 11338
feature_128: 120
feature_129: 54167
feature_130: 52183
feature_131: 254
feature_132: 253
feature_133: 1887
feature_134: 2244
feature_135: 25333
feature_136: 162
feature_137: 82379
feature_138: 15817
feature_139: 29
feature_140: 41864
feature_141: 4703
feature_142: 529
feature_143: 1431

Вижу, что многие признаки категориальные (ничего делать не нужно, так как я буду использовать CatBoost), а также есть признаки с единственным значением - уберу их

In [6]:
for col in df.columns:
    if len(df[col].unique()) == 1:
        df.drop([col], axis=1, inplace=True)

Удалю уникальные 'query_id', если такие есть

In [7]:
def drop_unique_queries(df):
    group_sizes = df.groupby('query_id').size()
    valid_groups = group_sizes[group_sizes > 1].index
    
    return df[df['query_id'].isin(valid_groups)]

In [8]:
df = drop_unique_queries(df)
df.shape

(235255, 142)

Нашлось целых три - и на том спасибо. Также отмечу, что не нужны ни нормализация, ни стандартизация, так как CatBoost под капотом использует градиентный бустинг на решающих деревьях, которые устойчивы к различиям в масштабе признаков. Ещё я не стал делать отбор признаков, так как их очень много.

Теперь можно перейти к обучению модели. Для начала разделю выборки на обучающую и тестовую (валидационной не будет, потому что я не знаком с гиперпараметрами CatBoostRanker и не смогу тюнить их умнее, чем перебором по сетке, что было бы долго и неинтересно)

In [9]:
train_df, test_df = train_test_split(df, test_size=0.2, random_state=26)

# группировка объектов по сессиям:
train_df.sort_values(by=['query_id'], inplace=True)
test_df.sort_values(by=['query_id'], inplace=True)

X_train, y_train, queries_train = train_df.drop(['rank', 'query_id'], axis=1), train_df['rank'], train_df['query_id']
X_test, y_test, queries_test = test_df.drop(['rank', 'query_id'], axis=1), test_df['rank'], test_df['query_id']

Возможно здесь тоже получились уникальные 'query_id'. Если их будет немного (менее 0.1%), то просто удалю их (не стану придумывать сложных методов для разделения данных)

In [10]:
print(train_df.shape[0], test_df.shape[0])

train_df = drop_unique_queries(train_df)
test_df = drop_unique_queries(test_df)

print(train_df.shape[0], test_df.shape[0])

188204 47051
188203 47032

Построю модель

In [11]:
train_pool = Pool(
    data=X_train.values,
    label=y_train.values,
    group_id=queries_train.values
)

test_pool = Pool(
    data=X_test.values,
    label=y_test.values,
    group_id=queries_test.values
)

In [12]:
model = CatBoostRanker()
model.fit(train_pool, silent=True)
predictions = model.predict(test_pool)

Посчитаю NDCG@5

In [13]:
def calculate_ndcg5(true_relevance, predictions, groups):
    unique_groups = np.unique(groups)
    score, count = 0, 0
    
    for group in unique_groups:
        group_mask = groups == group
        if len(true_relevance[group_mask]) > 1:
            count += 1
            score += ndcg_score([true_relevance[group_mask]], [predictions[group_mask]])
    
    return score / count

In [14]:
print("NDCG@5 score:", calculate_ndcg5(y_test, predictions, queries_test))

NDCG@5 score: 0.7366217489349192